.Card {
  width: 84%;
  height: 30rem;
  border: 0.5px solid rgb(184, 181, 181);
  margin: 10px 0;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px;
  transition: box-shadow .5s;
}

.Card:last-child {
  grid-column: 2/3;
}
.Card:hover {
  box-shadow: rgba(191, 189, 189, 0.4) 8px 4px 2px;
}

